<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Demo app {% endblock %}</title>
</head>
<body>
    <header>
        {% if user %}
        <a href="/profile">{{ user.username }}</a>
        <img src="{{ user.avatar }}" width="30" alt="">
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        {% endif %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>